In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("cars (dataset for k means).csv")

In [3]:
dataset.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year    brand
0  14.0           8          350  165       4209           12   1972   Toyota
1  31.9           4           89   71       1925           14   1980    Honda
2  17.0           8          302  140       3449           11   1971   Toyota
3  15.0           8          400  150       3761           10   1971   Toyota
4  30.5           4           98   63       2051           17   1978   Toyota